h1 {
    font-size: 1.4em;
    page-break-before: right;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    page-break-before: right;
    text-align: center;
}
h3 {
    font-size: 1em;
    font-weight: normal;
    page-break-before: auto;
    text-align: center;
}
.figure {
    border: 2px solid gray;
    margin: 1em;
    padding: 1em;
    page-break-inside: avoid;
    text-align: center;
}
.figure img {
    display: block;
    margin: auto;
}
