h1, h2, h3 {
    margin: 2em 0 1em 0;
    text-align: center;
    text-indent: 0;
}
h1 {
    font-size: 1.4em;
    page-break-before: right;
}
h2 {
    font-size: 1.2em;
    page-break-before: right;
}
h3 {
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: normal;
    page-break-before: auto;
}
.figure {
    border: 2px solid gray;
    margin: 1em;
    padding: 1em;
    page-break-inside: avoid;
    text-align: center;
}
.figure img {
    display: block;
    margin: auto;
}
hr {
    border: 0;
    border-top: 1px solid black;
    height: 0;
    margin-left: 0;
    width: 25%;
}
/* Equipment Comparison table on page 249 */
#eqcomp {
    margin: 1em auto;
    max-width: 100%;
    page-break-inside: avoid;
    width: 35em;
}
#eqcomp table {
    border-bottom: 1px solid black;
    border-spacing: 0;
    width: 100%;
}
#eqcomp caption {
    font-size: 1.1em;
    margin: .5em;
}
#eqcomp th, #eqcomp td {
    font-size: 0.9em;
}
#eqcomp th {
    border-bottom: 1px solid black;
    font-style: italic;
    font-weight: normal;
}
#eqcomp td {
    text-align: right;
}
#eqcomp td:first-child {
    text-align: left;
}
/* FIXME: Aldiko ignores the whole stylesheet due to this:
@media (min-width: 35em) {
    #eqcomp td {
	padding-right: 3em;
    }
    #eqcomp td:first-child {
	padding-left: 3em;
    }
}
*/
