@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    src: url(PT_Serif-Web-Regular.ttf);
}
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: url(PT_Serif-Web-Bold.ttf);
}
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: normal;
    src: url(PT_Serif-Web-Italic.ttf);
}
body {
    font-family: 'PT Serif', serif;
    font-size: 11pt;
    margin: 1em auto;
    max-width: 40em;
}
p {
    text-indent: 2em;
    margin: 0;
}
h1 + p, h2 + p {
    text-indent: 0;
}
